@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 62.5%;
	box-sizing: border-box;
	--primary-color: #21b0f2;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--code-highlight: #ffa07a;
}

/* component css */

/* repalce name */
.image-snippet {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 1rem;
}

/* image heading */
.image-heading {
	font-size: 3rem;
	font-weight: 500;
}

/* image description */
.image-description {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	width: 90%;
}

.scl-img-res {
	max-width: 100%;
	height: auto;
}

.scl-round-image {
	border-radius: 9rem;
	width: 100px;
	height: 100px;
}
