@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 62.5%;
	box-sizing: border-box;
	--primary-color: #21b0f2;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--code-highlight: #ffa07a;
}

/* component css */

/* repalce name */
.grid-snippet {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 1rem;
}

/* grid-heading */
.grid-heading {
	font-size: 3rem;
	font-weight: 500;
}

/* grid description */
.grid-description {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	width: 90%;
}

.scl-grid-container-2 {
	display: grid;
	grid-template-columns: repeat(2, 0.1fr);
}

.scl-grid-cell {
	background-color: var(--primary-color);
	color: #fff;
	margin: 1rem;
	font-size: large;
	text-align: center;
}

.scl-grid-container-3 {
	display: grid;
	grid-template-columns: repeat(3, 0.15fr);
}
