@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 62.5%;
	box-sizing: border-box;
	--primary-color: #21b0f2;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--code-highlight: #ffa07a;
}

.get-started-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.get-started-heading {
	font-size: 2rem;
	font-weight: 600;
}

.css-heading {
	font-size: 2rem;
	margin-top: 2rem;
	font-weight: 600;
}
