<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Speed CL | Cards</title>
		<link rel="stylesheet" href="card.css" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" href="speed_logo-cropped.png" />
		<script
			src="https://kit.fontawesome.com/8d362f42de.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="https://speed-cl.netlify.app/main.css" />
	</head>
	<body>
		<header>
			<div id="logo-container">
				<a href="https://speed-cl.netlify.app/">
					<img id="logo" src="speed logo.svg" alt="logo" />
				</a>
				<a href="https://speed-cl.netlify.app/">
					<div id="logo-name">Speed CL</div>
				</a>
			</div>
			<div id="header-icon-container">
				<div>
					<img src="dark-mode.svg" alt="dark mode icon" id="dark-mode" />
				</div>
				<div>
					<a href="https://github.com/Artistole">
						<img src="github.svg" alt="github icon" id="github-icon" />
					</a>
				</div>
				<div class="hamburger-container">
					<div class="hamburger"></div>
					<div class="hamburger"></div>
					<div class="hamburger"></div>
				</div>
			</div>
		</header>
		<div id="main-content">
			<div id="component">
				<div class="card-heading">Cards</div>
				<div class="seperator"></div>
				<div class="card-description">
					A card is a piece of design that separates itself from the rest of the
					page, giving the user a hint to focus on it.
				</div>
				<div class="seperator"></div>
				<div class="card-heading">Cards with badges</div>
				<div class="card-description">
					Cards with badges are used to display dsicounts or stock remaining or
					offer time remaining and etc.
				</div>
				<div id="tom-basic">
					<img src="bookmark_black_24dp.svg" alt="mail" class="badge-icon" />
					<div id="discount">70%</div>
					<div id="main">
						<img src="4.jpg" alt="beautiful pic" id="img-basic" />
						<div id="text">
							<div id="tom">
								<h3 id="tom-text">High Coast Bridge</h3>
								<h4 id="tom-author">by Anders Jildén</h4>
							</div>
							<h4 id="text-cont">
								High Coast bridge also known as Höga Kusten Bridge is located in
								Sweden
							</h4>
						</div>
					</div>
					<div id="btns">
						<button class="btn">
							<p>READ</p>
						</button>
						<button class="btn">
							<p>BOOKMARK</p>
						</button>
						<button class="btn" id="icons-btn">
							<i class="far fa-heart"></i>
						</button>
						<button class="btn" id="icons-btn">
							<i class="fas fa-share-alt"></i>
						</button>
						<button class="btn" id="icons-btn">
							<i class="fas fa-ellipsis-v"></i>
						</button>
					</div>
				</div>
				<div class="card-snippet">Code snippet:</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/620bc15831e619001565ab82"
					style="width: 100%; height: 502px"
					frameborder="0"
				></iframe>
				<div class="seperator"></div>
				<div class="card-heading">Card with dismiss</div>
				<div class="card-description">This is a card with a dismiss button</div>
				<div id="tom-basic">
					<img src="close_white_18dp.svg" alt="mail" class="badge-icon-close" />
					<div id="main-close">
						<img src="4.jpg" alt="beautiful pic" id="img-basic" />
						<div id="text">
							<div id="tom">
								<h3 id="tom-text">High Coast Bridge</h3>
								<h4 id="tom-author">by Anders Jildén</h4>
							</div>
							<h4 id="text-cont">
								High Coast bridge also known as Höga Kusten Bridge is located in
								Sweden
							</h4>
						</div>
					</div>
					<div id="btns-close">
						<button class="btn">
							<p>READ</p>
						</button>
						<button class="btn">
							<p>BOOKMARK</p>
						</button>
						<button class="btn" id="icons-btn">
							<i class="far fa-heart"></i>
						</button>
						<button class="btn" id="icons-btn">
							<i class="fas fa-share-alt"></i>
						</button>
						<button class="btn" id="icons-btn">
							<i class="fas fa-ellipsis-v"></i>
						</button>
					</div>
				</div>
				<div class="card-snippet">Code snippet:</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/620bc19231e619001565ab83"
					style="width: 100%; height: 502px"
					frameborder="0"
				></iframe>
				<div class="seperator"></div>
				<div class="card-heading">Card with text overlay</div>
				<div class="card-description">This is a card with text overlay</div>
				<div id="tom-basic-overlay">
					<div id="main-overlay">
						<img src="4.jpg" alt="beautiful pic" id="img-basic" />
						<div id="text-overlay">
							<div id="tom">
								<h3 id="tom-text">High Coast Bridge</h3>
								<h4 id="tom-author">by Anders Jildén</h4>
							</div>
							<h4 id="text-cont-overlay">
								High Coast bridge also known as Höga Kusten Bridge is located in
								Sweden
							</h4>
						</div>
					</div>
					<div id="btns-overlay">
						<button class="btn">
							<p>READ</p>
						</button>
						<button class="btn">
							<p>BOOKMARK</p>
						</button>
						<button class="btn" id="icons-btn">
							<i class="far fa-heart"></i>
						</button>
						<button class="btn" id="icons-btn">
							<i class="fas fa-share-alt"></i>
						</button>
						<button class="btn" id="icons-btn">
							<i class="fas fa-ellipsis-v"></i>
						</button>
					</div>
				</div>
				<div class="card-snippet">Code snippet:</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/620bc1e531e619001565ab84"
					style="width: 100%; height: 502px"
					frameborder="0"
				></iframe>
				<div class="seperator"></div>
				<div class="card-heading">Card with only text</div>
				<div class="card-description">This is a card with only text</div>
				<div id="tom-basic-textonly">
					<div id="main-textonly">
						<div id="text-textonly">
							<div id="tom-textonly">
								<h3 id="tom-text-textonly">High Coast Bridge</h3>
								<h4 id="tom-author-textonly">by Anders Jildén</h4>
							</div>
							<h4 id="text-cont-textonly">
								High Coast bridge also known as Höga Kusten Bridge is located in
								Sweden
							</h4>
						</div>
					</div>
				</div>
				<div class="card-snippet">Code snippet:</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/620bc20c31e619001565ab85"
					style="width: 100%; height: 268px"
					frameborder="0"
				></iframe>
				<div class="seperator"></div>
				<div class="card-heading">Horizontal Card</div>
				<div class="card-description">This is a horizontal card</div>
				<div id="basic-hr">
					<div id="main-hr">
						<img src="4.jpg" alt="beautiful pic" id="img-hr" />
						<div id="text">
							<h3 id="text-title">High Coast Bridge</h3>
							<h4 id="author">by Anders Jildén</h4>
						</div>
					</div>
					<div id="btns btns-hr">
						<button class="btn">
							<p>READ</p>
						</button>
						<button class="btn">
							<p>BOOKMARK</p>
						</button>
						<button class="btn" id="icons-btn">
							<i class="far fa-heart"></i>
						</button>
						<button class="btn" id="icons-btn">
							<i class="fas fa-share-alt"></i>
						</button>
						<button class="btn" id="icons-btn">
							<i class="fas fa-ellipsis-v"></i>
						</button>
					</div>
				</div>
				<div class="card-snippet">Code snippet:</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/620bc27531e619001565ab86"
					style="width: 100%; height: 424px"
					frameborder="0"
				></iframe>
				<div class="seperator"></div>
				<div class="card-heading">Card with shadow</div>
				<div class="card-description">This is a card with shadow</div>
				<div id="basic-hr-shadow">
					<div id="main-hr">
						<img src="4.jpg" alt="beautiful pic" id="img-hr" />
						<div id="text">
							<h3 id="text-title">High Coast Bridge</h3>
							<h4 id="author">by Anders Jildén</h4>
						</div>
					</div>
					<div id="btns btns-hr">
						<button class="btn">
							<p>READ</p>
						</button>
						<button class="btn">
							<p>BOOKMARK</p>
						</button>
						<button class="btn" id="icons-btn">
							<i class="far fa-heart"></i>
						</button>
						<button class="btn" id="icons-btn">
							<i class="fas fa-share-alt"></i>
						</button>
						<button class="btn" id="icons-btn">
							<i class="fas fa-ellipsis-v"></i>
						</button>
					</div>
				</div>
				<div class="card-snippet">Code snippet:</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/620bc2a631e619001565ab87"
					style="width: 100%; height: 424px"
					frameborder="0"
				></iframe>
			</div>
			<aside class="side-bar">
				<ul id="side-bar-links">
					<li class="side-bar-item side-bar-note">Scroll for more</li>
					<li class="side-bar-item">
						<a href="/components/avatar/avatar.html">Avatar</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/alert/alert.html">Alert</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/badge/badge.html">Badge</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/button/button.html">Button</a>
					</li>
					<li class="side-bar-item scl-btn-primary">
						<a href="/components/card/card.html">Card</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/grid/grid.html">Grid</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/image/image.html">Image</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/input/input.html">Input</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/lists/list.html">Lists</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/modal/modal.html">Modal</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/navigation/navigation.html">Navigation</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/rating/rating.html">Rating</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/slider/slider.html">Slider</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/text-util/text-util.html">Text Utilities</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/toast/toast.html">Toast</a>
					</li>
				</ul>
			</aside>
		</div>
		<script src="app.js"></script>
	</body>
</html>
