<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Speed CL | input</title>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" href="speed_logo-cropped.png" />
		<link rel="stylesheet" href="https://speed-cl.netlify.app/components.css" />
		<link rel="stylesheet" href="/components/style.css" />
		<link rel="stylesheet" href="input.css" />
	</head>
	<body>
		<header>
			<div id="logo-container">
				<a href="https://speed-cl.netlify.app/">
					<img id="logo" src="speed logo.svg" alt="logo" />
				</a>
				<a href="https://speed-cl.netlify.app/">
					<div id="logo-name">Speed CL</div>
				</a>
			</div>
			<div id="header-icon-container">
				<div>
					<img src="dark-mode.svg" alt="dark mode icon" id="dark-mode" />
				</div>
				<div>
					<a href="https://github.com/Artistole">
						<img src="github.svg" alt="github icon" id="github-icon" />
					</a>
				</div>
				<div class="hamburger-container">
					<div class="hamburger"></div>
					<div class="hamburger"></div>
					<div class="hamburger"></div>
				</div>
			</div>
		</header>
		<div id="main-content">
			<div id="component">
				<div class="input-heading">Input</div>
				<div class="input-description">
					Inputs are used in forms to collect user related data.
				</div>
				<div class="seperator"></div>
				<div class="input-heading">Input field</div>
				<div class="input-description">This is a simple input field</div>
				<input type="text" class="scl-input" placeholder="Name" />
				<div class="input-snippet">Code snippet:</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/620be83f80e1cd0015bd9440"
					style="width: 100%; height: 99px"
					frameborder="0"
				></iframe>
				<div class="seperator"></div>
				<div class="input-heading">Input w/ validation</div>
				<div class="input-description">
					This is a input field with validation and errors style
				</div>
				<div>
					<input
						type="email"
						class="scl-input-validation"
						placeholder="email"
					/>
					<div class="scl-input-validation-text">Invalid email address!</div>
				</div>
				<div class="input-snippet">Code snippet:</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/620be86280e1cd0015bd9441"
					style="width: 100%; height: 138px"
					frameborder="0"
				></iframe>
			</div>
			<aside class="side-bar">
				<ul id="side-bar-links">
					<li class="side-bar-item side-bar-note">Scroll for more</li>
					<li class="side-bar-item">
						<a href="/components/avatar/avatar.html">Avatar</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/alert/alert.html">Alert</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/badge/badge.html">Badge</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/button/button.html">Button</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/card/card.html">Card</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/grid/grid.html">Grid</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/image/image.html">Image</a>
					</li>
					<li class="side-bar-item scl-btn-primary">
						<a href="/components/input/input.html">Input</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/lists/list.html">Lists</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/modal/modal.html">Modal</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/navigation/navigation.html">Navigation</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/rating/rating.html">Rating</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/slider/slider.html">Slider</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/text-util/text-util.html">Text Utilities</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/toast/toast.html">Toast</a>
					</li>
				</ul>
			</aside>
		</div>
		<script src="app.js"></script>
	</body>
</html>
