@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 62.5%;
	box-sizing: border-box;
	--primary-color: #21b0f2;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--code-highlight: #ffa07a;
	--grey-text: #8a8a8f;
	--warning-text: #ffa500;
	--error-text: #ff0000;
}

/* component css */

/* repalce name */
.util-snippet {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 1rem;
}

/* util heading */
.util-heading {
	font-size: 3rem;
	font-weight: 500;
}

/* util description */
.util-description {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	width: 90%;
}

/* heading styles */
.heading-1 {
	font-size: 3rem;
	font-weight: 500;
}

.heading-2 {
	font-size: 2.5rem;
	font-weight: 400;
}

.heading-3 {
	font-size: 2rem;
	font-weight: 400;
}

/* small text style */
.small-text {
	font-size: 1rem;
}

/* grey text style */
.grey-text {
	font-size: 1.5rem;
	color: var(--grey-text);
}

/* align styles */
.left-text {
	text-align: left;
}

.center-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

/* additional styles */
.warning-text {
	color: var(--warning-text);
}

.error-text {
	color: var(--error-text);
}

.wgt-900 {
	font-weight: 900;
}

.wgt-500 {
	font-weight: 500;
}

.wgt-200 {
	font-weight: 200;
}
