<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed CL | Avatar</title>
    <link rel="stylesheet" href="avatar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="speed_logo-cropped.png">
</head>

<body>
    <header>
        <div id="logo-container">
            <a href="https://speed-cl.netlify.app/">
            <img id="logo" src="speed logo.svg" alt="logo">
            </a>
            <a href="https://speed-cl.netlify.app/">
            <div id="logo-name">Speed CL</div>
            </a>
        </div>
        <div id="header-icon-container">
            <div>
                <img src="dark-mode.svg" alt="dark mode icon" id="dark-mode" />
            </div>
            <div>
                <a href="https://github.com/Artistole">
                <img src="github.svg" alt="github icon" id="github-icon" />
            </a>
            </div>
            <div class="hamburger-container">
                <div class="hamburger"></div>
                <div class="hamburger"></div>
                <div class="hamburger"></div>
            </div>
        </div>
    </header>
    <div id="main-content">
        <div id="component">
            <div class="avatar-heading">Avatar</div>
            <div id="seperator"></div>
            <div class="avatar-description">Avatar component is used to represent a user by displaying an icon. They can
                also be used for 'container' objects — projects, spaces, repositories to give them a recognisable visual
                identity.</div>
            <div id="seperator"></div>
            <div class="avatar-heading">Avatar with pictures</div>
            <div class="avatar-inner-description">
                <p>Avatar with picture component is available in 3 different <span class="highlight">sizes</span>.
            </div>
            <div>
                <img src="img-avatar/user.png" alt="avatar" class="avatar avatar-lg">
                <img src="img-avatar/female.png" alt="avatar" class="avatar avatar-md">
                <img src="img-avatar/male.png" alt="avatar" class="avatar avatar-sm">
            </div>
            <div class="avatar-snippet">code snippet:</div>
            <div class="avatar-inner-description">
                </p>Include <span
                    class="highlight">class</span> <span class="highlight-code">avatar</span>
                and according to the required size add <span
                class="highlight">class</span> <span
                    class="highlight-code">avatar-lg</span> or <span class="highlight-code">avatar-md</span> or <span
                    class="highlight-code">avatar-sm</span>.
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/620b711331e619001565ab22" style="width: 100%; height: 125px;" frameborder="0"></iframe>

            <div id="seperator"></div>
            <div class="avatar-heading">Avatar with text</div>
            <div class="avatar-inner-description">
                <p>Text is used when an image is not available. This is usually done by taking the first letter of first name and last name of the user</p>
                <p>Avatar with text component is available in 3 different <span class="highlight">sizes</span>.
                <div id="avatar-container">
                <div role="img" alt="avatar" class="avatar avatar-lg avatar-txt">AA</div>
                <div role="img" alt="avatar" class="avatar avatar-md avatar-txt">Aa</div>
                <div role="img" alt="avatar" class="avatar avatar-sm avatar-txt">a</div>
            </div>
            <div class="avatar-snippet">code snippet:</div>
        </p>Include <span
        class="highlight">class</span> <span class="highlight-code">avatar</span>
    and according to the required size add <span
    class="highlight">class</span> <span
        class="highlight-code">avatar-lg</span> or <span class="highlight-code">avatar-md</span> or <span
        class="highlight-code">avatar-sm</span>. 
        <p>Now use the <span class="highlight">class</span> <span class="highlight-code">avatar-txt</span> to apply the styling for the text</p>
        <iframe src="https://www.thiscodeworks.com/embed/620b757f31e619001565ab24" style="width: 100%; height: 125px;" frameborder="0"></iframe>
            </div>
        </div>
        <aside class="side-bar">
            <ul id="side-bar-links">
                <li class="side-bar-item side-bar-note">Scroll for more</li>
                <li class="side-bar-item"><a href="/components/avatar/avatar.html">Avatar</a></li>
                <li class="side-bar-item"><a href="/components/alert/alert.html">Alert</a></li>
                <li class="side-bar-item"><a href="/components/badge/badge.html">Badge</a></li>
                <li class="side-bar-item"><a href="/components/button/button.html">Button</a></li>
                <li class="side-bar-item"><a href="/components/card/card.html">Card</a></li>
                <li class="side-bar-item"><a href="/components/grid/grid.html">Grid</a></li>
                <li class="side-bar-item"><a href="/components/image/image.html">Image</a></li>
                <li class="side-bar-item"><a href="/components/input/input.html">Input</a></li>                  
                <li class="side-bar-item"><a href="/components/lists/list.html">Lists</a></li>
                <li class="side-bar-item"><a href="/components/modal/modal.html">Modal</a></li>
                <li class="side-bar-item"><a href="/components/navigation/navigation.html">Navigation</a></li> 
				<li class="side-bar-item"><a href="/components/rating/rating.html">Rating</a></li>
                <li class="side-bar-item"><a href="/components/slider/slider.html">Slider</a></li>
                <li class="side-bar-item"><a href="/components/text-util/text-util.html">Text Utilities</a></li>
				<li class="side-bar-item"><a href="/components/toast/toast.html">Toast</a></li>	
            </ul>
        </aside>
    </div>
    <script src="app.js"></script>
</body>

</html>
