@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 62.5%;
	box-sizing: border-box;
	--primary-color: #21b0f2;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--code-highlight: #ffa07a;
}
/* component css */

/* avatar design */
.scl-avatar {
	border-radius: 5rem;
	margin: 1rem;
}

/* avatar parameters */
.scl-avatar-lg {
	height: 10rem;
	width: 10rem;
}

.scl-avatar-md {
	height: 8rem;
	width: 8rem;
}

.scl-avatar-sm {
	height: 5rem;
	width: 5rem;
}

/* text avatar design */
.scl-avatar-txt {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	font-size: 4rem;
}

/* text avatar container */
#avatar-container {
	display: flex;
	align-items: baseline;
}

/* avatar heading */
.avatar-heading {
	font-size: 3rem;
	font-weight: 500;
}

/* avatar snippet */
.avatar-snippet {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 1rem;
}

/* seperating line */
#seperator {
	height: 0.0625rem;
	width: 100%;
	background-color: var(--seperator);
	margin-bottom: 3rem;
}

/* avatar description */
.avatar-description,
.avatar-inner-description {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	width: 90%;
}

/* highlighting text */
.highlight {
	color: var(--primary-color);
	font-weight: 700;
}

/* highlighting code */
.highlight-code {
	color: var(--code-highlight);
	font-weight: 700;
}

/* iframe */
iframe {
	margin-top: 2rem;
	margin-bottom: 1rem;
}
