@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 62.5%;
	box-sizing: border-box;
	--primary-color: #21b0f2;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--code-highlight: #ffa07a;
	--btn-boxshadow-light: rgba(0, 0, 0, 0.3) 0rem 0.4rem 1.2rem;
}

/* component css */

/* repalce name */
.toast-snippet {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 1rem;
}

.toast-heading {
	font-size: 3rem;
	font-weight: 500;
}

/* toast description */
.toast-description {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	width: 90%;
}

.scl-toast-btn-wrapper {
	display: flex;
	justify-content: space-between;
	width: 60%;
}

.scl-toast-btn {
	font-weight: 600;
	font-size: 1.5rem;
	padding: 1rem;
	background-color: var(--primary-color);
	color: #fff;
	box-shadow: var(--btn-boxshadow-light);
	cursor: pointer;
}

.scl-toast-wrapper {
	width: 20rem;
	font-size: 2rem;
	display: none;
	box-shadow: var(--btn-boxshadow-light);
	justify-content: space-around;
	padding: 0.8rem;
}

.scl-left {
	color: #fff;
	background-color: var(--primary-color);
	position: fixed;
	bottom: 2rem;
	left: 2rem;
}
