@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 62.5%;
	box-sizing: border-box;
	--primary-color: #21b0f2;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--code-highlight: #ffa07a;
	--navbar-color-lighttheme: #18181a;
	--navbar-text-color-lighttheme: #fff;
}

/* component css */

/* repalce name */
.navigation-snippet {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 1rem;
}

/* navigation heading */
.navigation-heading {
	font-size: 3rem;
	font-weight: 500;
}

/* navigation description */
.navigation-description {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	width: 90%;
}

.header-component {
	display: flex;
	justify-content: space-between;
	background-color: var(--navbar-color-lighttheme);
	width: 70%;
	box-shadow: 0.75em 0.75em 1em var(--header-boxshadow-light-color);
	color: var(--navbar-text-color-lighttheme);
	margin-bottom: 3rem;
}

.branding {
	display: flex;
	font-size: 2rem;
	margin: 1rem;
	padding: 1rem;
}
.header-component-more {
	display: flex;
	font-size: 2rem;
	margin: 1rem;
	padding: 1rem;
}

.more {
	margin-right: 2rem;
}

.header-component-logo {
	padding-right: 2rem;
}

.link {
	background-color: var(--navbar-color-lighttheme);
	color: var(--navbar-text-color-lighttheme);
	font-size: 2rem;
	border: none;
}

.subnav {
	position: relative;
	margin-right: 2rem;
}

.subnav-content {
	position: absolute;
	left: 0.25rem;
	color: var(--navbar-text-color-lighttheme);
	display: flex;
	flex-direction: column;
	margin-top: -0.2rem;
	padding: 1rem;
	display: none;
	background-color: var(--navbar-color-lighttheme);
	letter-spacing: 0.2rem;
}

.subnav > .link:focus + .subnav-content {
	display: block;
}

.subnav-content-hamburger {
	position: absolute;
	left: -1.45rem;
	color: var(--navbar-text-color-lighttheme);
	display: flex;
	flex-direction: column;
	margin-top: -0.2rem;
	padding: 1rem;
	display: none;
	background-color: var(--navbar-color-lighttheme);
	letter-spacing: 0.2rem;
}

.subnav > .link:focus + .subnav-content-hamburger {
	display: block;
}
