<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Speed Cl | Navigation</title>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<script
			src="https://kit.fontawesome.com/8d362f42de.js"
			crossorigin="anonymous"
		></script>
		<link rel="icon" type="image/x-icon" href="speed_logo-cropped.png" />
		<link rel="stylesheet" href="/components/style.css" />
		<link rel="stylesheet" href="https://speed-cl.netlify.app/components.css" />
		<link rel="stylesheet" href="navigation.css" />
	</head>
	<body>
		<header>
			<div id="logo-container">
				<a href="https://speed-cl.netlify.app/">
					<img id="logo" src="speed logo.svg" alt="logo" />
				</a>
				<a href="https://speed-cl.netlify.app/">
					<div id="logo-name">Speed CL</div>
				</a>
			</div>
			<div id="header-icon-container">
				<div>
					<img src="dark-mode.svg" alt="dark mode icon" id="dark-mode" />
				</div>

				<div>
					<a href="https://github.com/Artistole">
						<img src="github.svg" alt="github icon" id="github-icon" />
					</a>
				</div>

				<div class="hamburger-container">
					<div class="hamburger"></div>
					<div class="hamburger"></div>
					<div class="hamburger"></div>
				</div>
			</div>
		</header>
		<div id="main-content">
			<div id="component">
				<div class="navigation-heading">Navigation</div>
				<div class="seperator"></div>
				<div class="navigation-description">
					Navigation is one of the most helpful tools on a website as it helps
					the user navigate a website.
				</div>
				<div class="seperator"></div>
				<div class="navigation-heading">Simple Navigation</div>
				<div class="navigation-description">
					This is a simple Navigation made for desktop.
				</div>
				<nav class="header-component">
					<div class="branding">
						<div class="header-component-logo">Logo</div>
						<div>Name</div>
					</div>
					<div class="header-component-more">
						<div class="more">Home</div>
						<div class="more">About</div>
						<div class="more">More</div>
					</div>
				</nav>
				<div class="navigation-snippet">Code snippet:</div>
				<div class="navigation-description">
					You can use the code from this code snippet while replacing items
					wherever required
				</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/6204a44dc6efb50015062e08"
					style="width: 70%; height: 229px"
					frameborder="0"
				></iframe>
				<div class="seperator"></div>
				<div class="navigation-heading">Navifation with a submenu</div>
				<div class="navigation-description">
					This is a Navigation with a submenu that opens when clicked.
				</div>
				<nav class="header-component">
					<div class="branding">
						<div class="header-component-logo">Logo</div>
						<div>Name</div>
					</div>
					<div class="header-component-more">
						<div class="subnav">
							<button class="link">
								Home <i class="fa fa-caret-down"></i>
							</button>
							<div class="subnav-content">
								<div>Link1</div>
								<div>Link2</div>
								<div>Link2</div>
							</div>
						</div>
						<div class="subnav">
							<button class="link">
								About <i class="fa fa-caret-down"></i>
							</button>
							<div class="subnav-content">
								<div>Link1</div>
								<div>Link2</div>
								<div>Link2</div>
							</div>
						</div>
						<div class="subnav">
							<button class="link">
								More <i class="fa fa-caret-down"></i>
							</button>
							<div class="subnav-content">
								<div>Link1</div>
								<div>Link2</div>
								<div>Link2</div>
							</div>
						</div>
					</div>
				</nav>
				<div class="navigation-snippet">Code snippet:</div>
				<div class="navigation-description">
					You can use the code from this code snippet while replacing items and
					the icon wherever required
				</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/6204b7bac6efb50015062e19"
					style="width: 70%; height: 216px"
					frameborder="0"
				></iframe>
				<div class="seperator"></div>
				<div class="navigation-heading">Navifation with a hamburger</div>
				<div class="navigation-description">
					This is a Navigation with a hamburger.
				</div>
				<nav class="header-component">
					<div class="branding">
						<div class="header-component-logo">Logo</div>
						<div>Name</div>
					</div>
					<div class="header-component-more">
						<div class="subnav">
							<button class="link">
								<i class="fas fa-bars"></i>
							</button>
							<div class="subnav-content-hamburger">
								<div>Link1</div>
								<div>Link2</div>
								<div>Link2</div>
							</div>
						</div>
					</div>
				</nav>
				<div class="navigation-snippet">Code snippet:</div>
				<div class="navigation-description">
					You can use the code from this code snippet while replacing items and
					the icon wherever required
				</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/6204b991c6efb50015062e1a"
					style="width: 70%; height: 216px"
					frameborder="0"
				></iframe>
			</div>
			<aside class="side-bar">
				<ul id="side-bar-links">
					<li class="side-bar-item side-bar-note">Scroll for more</li>
					<li class="side-bar-item">
						<a href="/components/avatar/avatar.html">Avatar</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/alert/alert.html">Alert</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/badge/badge.html">Badge</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/button/button.html">Button</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/card/card.html">Card</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/grid/grid.html">Grid</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/image/image.html">Image</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/input/input.html">Input</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/lists/list.html">Lists</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/modal/modal.html">Modal</a>
					</li>
					<li class="side-bar-item scl-btn-primary">
						<a href="/components/navigation/navigation.html">Navigation</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/rating/rating.html">Rating</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/slider/slider.html">Slider</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/text-util/text-util.html">Text Utilities</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/toast/toast.html">Toast</a>
					</li>
				</ul>
			</aside>
		</div>
		<script src="app.js"></script>
	</body>
</html>
