<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Speed CL | Lists</title>
		<link rel="stylesheet" href="list.css" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" href="speed_logo-cropped.png" />
	</head>
	<body>
		<header>
			<div id="logo-container">
				<a href="https://speed-cl.netlify.app/">
					<img id="logo" src="speed logo.svg" alt="logo" />
				</a>
				<a href="https://speed-cl.netlify.app/">
					<div id="logo-name">Speed CL</div>
				</a>
			</div>
			<div id="header-icon-container">
				<div>
					<img src="dark-mode.svg" alt="dark mode icon" id="dark-mode" />
				</div>
				<div>
					<a href="https://github.com/Artistole">
						<img src="github.svg" alt="github icon" id="github-icon" />
					</a>
				</div>
				<div class="hamburger-container">
					<div class="hamburger"></div>
					<div class="hamburger"></div>
					<div class="hamburger"></div>
				</div>
			</div>
		</header>
		<div id="main-content">
			<div id="component">
				<div class="list-heading">Lists</div>
				<div class="seperator"></div>
				<div class="list-description">
					A list can be used to show multiple related options or links.
				</div>
				<div class="seperator"></div>
				<div class="list-heading">Spaced Lists</div>
				<div class="list-description">
					These are examples of spaced lists which have default, number, lower
					roman,lower case alphabet and no-style as bullet styling
				</div>
				<div class="list-description">
					<div class="list-wrapper">
						<ul class="list-default">
							<li class="list-item">List Item-1</li>
							<li class="list-item">List Item-2</li>
							<li class="list-item">List Item-3</li>
							<li class="list-item">List Item-4</li>
						</ul>
						<ul class="list-numbers">
							<li class="list-item">List Item-1</li>
							<li class="list-item">List Item-2</li>
							<li class="list-item">List Item-3</li>
							<li class="list-item">List Item-4</li>
						</ul>
						<ul class="list-roman">
							<li class="list-item">List Item-1</li>
							<li class="list-item">List Item-2</li>
							<li class="list-item">List Item-3</li>
							<li class="list-item">List Item-4</li>
						</ul>
						<ul class="list-alphabet">
							<li class="list-item">List Item-1</li>
							<li class="list-item">List Item-2</li>
							<li class="list-item">List Item-3</li>
							<li class="list-item">List Item-4</li>
						</ul>
						<ul class="list-none">
							<li class="list-item">List Item-1</li>
							<li class="list-item">List Item-2</li>
							<li class="list-item">List Item-3</li>
							<li class="list-item">List Item-4</li>
						</ul>
					</div>
				</div>
				<div class="list-snippet">Code snippet:</div>
				<div class="list-description">
					Use <span class="highlight">class </span
					><span class="highlight-code">list-default</span> for bullets or
					<span class="highlight-code">list-numbers</span> for numbers or
					<span class="highlight-code">list-roman</span> for roman or
					<span class="highlight-code">list-alphabet</span> for lower case
					alphabet or <span class="highlight-code">list-none</span> for no
					bullet style, for styling and use
					<span class="highlight">class</span>
					<span class="highlight-code">list-item</span> for styling list items
					as per your requirement.
				</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/62037605234b8a0015700c78"
					style="width: 70%; height: 333px"
					frameborder="0"
				></iframe>
				<div class="seperator"></div>
				<div class="list-heading">Stacked Lists</div>
				<div class="list-description">
					Stacked lists can be used to give notifications that can be stacked
					one on top of another.
				</div>
				<ul>
					<li class="primary stacked-item">
						This is a primary notification<img src="close-light-border.svg" />
					</li>
					<li class="success stacked-item">
						This is a success notification
						<img src="close-light-border.svg" />
					</li>
					<li class="warning stacked-item">
						This is a warning notification
						<img src="close-dark-border.svg" />
					</li>
					<li class="error stacked-item">
						This is an error notification
						<img src="close-light-border.svg" />
					</li>
				</ul>
				<div class="list-snippet">Code snippet:</div>
				<div class="list-description">
					Use <span class="highlight">class </span
					><span class="highlight-code">stacked-item</span> for default styling
					of all lists and <span class="highlight-code">primary</span> for
					primary colored notification
					<span class="highlight-code">success</span> for successful
					notification <span class="highlight-code">warning</span> for warning
					notification or <span class="highlight-code">error</span> for error
					styling as per your requirement and use a desired icon.
				</div>
				<iframe
					src="https://www.thiscodeworks.com/embed/62038daa234b8a0015700cb0"
					style="width: 70%; height: 307px"
					frameborder="0"
				></iframe>
			</div>
			<aside class="side-bar">
				<ul id="side-bar-links">
					<li class="side-bar-item side-bar-note">Scroll for more</li>
					<li class="side-bar-item">
						<a href="/components/avatar/avatar.html">Avatar</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/alert/alert.html">Alert</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/badge/badge.html">Badge</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/button/button.html">Button</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/card/card.html">Card</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/grid/grid.html">Grid</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/image/image.html">Image</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/input/input.html">Input</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/lists/list.html">Lists</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/modal/modal.html">Modal</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/navigation/navigation.html">Navigation</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/rating/rating.html">Rating</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/slider/slider.html">Slider</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/text-util/text-util.html">Text Utilities</a>
					</li>
					<li class="side-bar-item">
						<a href="/components/toast/toast.html">Toast</a>
					</li>
				</ul>
			</aside>
		</div>
		<script src="app.js"></script>
	</body>
</html>
