@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 62.5%;
	box-sizing: border-box;
	--primary-color: #21b0f2;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--code-highlight: #ffa07a;
}

/* component css */

/* repalce name */
.rating-snippet {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 1rem;
}

.rating-heading {
	font-size: 3rem;
	font-weight: 500;
}

/* rating description */
.rating-description {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	width: 90%;
}

.star-container {
	display: flex;
	width: 12%;
	justify-content: space-between;
}

.star,
.star-active {
	cursor: pointer;
}

.star-active {
	filter: invert(69%) sepia(96%) saturate(455%) hue-rotate(360deg)
		brightness(105%) contrast(104%);
}

.href {
	text-decoration: underline;
}
