@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 62.5%;
	box-sizing: border-box;
	--primary-color: #21b0f2;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--code-highlight: #ffa07a;
	--success-color: #00fa85;
	--warning-color: #fde047;
	--error-color: red;
}

#logo-container {
	display: flex;
}

#logo {
	width: 20rem;
	height: 10rem;
	margin-top: -1rem;
}

header {
	display: flex;
	position: fixed;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0.75em 0.75em 1em var(--header-boxshadow-light-color);
	width: 100%;
	background-color: var(--header-bg-light-color);
	top: 0;
	left: 0;
}

#logo-name {
	font-weight: 600;
	font-size: 2.5rem;
	margin-top: 2rem;
	margin-left: -2rem;
	letter-spacing: 0.1rem;
}

#github-icon {
	margin: 3rem 3rem 0rem 2rem;
}

#dark-mode {
	margin-top: 1.5rem;
}

#main-content {
	margin-left: 10rem;
}

#side-bar {
	position: fixed;
	top: 0;
	right: 0;
	margin-top: 8rem;
}

#side-bar-links {
	font-size: 2.4rem;
	list-style: none;
	margin-top: 1rem;
	margin-right: 4rem;
}

.side-bar-item {
	padding: 1rem;
}

#component {
	margin-right: 20rem;
	margin-top: 12rem;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

.seperator {
	height: 0.0625rem;
	width: 90%;
	background-color: var(--seperator);
	margin-bottom: 3rem;
}

.highlight {
	color: var(--primary-color);
	font-weight: 700;
}

/* highlighting code */
.highlight-code {
	color: var(--code-highlight);
	font-weight: 700;
}

/* iframe */
iframe {
	margin: 2rem 0rem 2rem 0rem;
}

/* component css */

/* repalce name */
.list-snippet {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 1rem;
}

/* lists heading */
.list-heading {
	font-size: 3rem;
	font-weight: 500;
}

/* lists description */
.list-description {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	width: 90%;
}

/* list wrapper */
.list-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* list item styling */
.list-item {
	margin: 2rem;
	padding: 1rem;
	width: 10rem;
	cursor: pointer;
}

/* list item hover  */
.list-item:hover {
	background-color: #f1f1f1;
}

/* various list styling */
.list-numbers {
	list-style: decimal;
}

.list-roman {
	list-style: lower-roman;
}

.list-alphabet {
	list-style: lower-alpha;
}

.list-none {
	list-style: none;
}

/* stacked list styling */
.stacked-item {
	font-size: 1.5rem;
	list-style: none;
	padding: 1rem;
	width: 30rem;
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* stacked list item styling */
.primary {
	background-color: var(--primary-color);
	color: white;
}

.success {
	background-color: var(--success-color);
}

.warning {
	background-color: var(--warning-color);
}

.error {
	background-color: var(--error-color);
}

img {
	cursor: pointer;
}
