@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 62.5%;
	box-sizing: border-box;
	--primary-color: #21b0f2;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--code-highlight: #ffa07a;
	--success-color: #47ffa9;
	--warning-color: #fde047;
	--error-color: #d87a7a;
}

/* component css */

/* repalce name */
.alert-snippet {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 1rem;
}

/* alert-heading */
.alert-heading {
	font-size: 3rem;
	font-weight: 500;
}

/* alert description */
.alert-description {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	width: 90%;
}

/* alert box */
.scl-alert {
	padding: 1rem;
	border: 1px solid black;
	margin: 4rem;
	width: 30%;
	font-size: 1.5rem;
	font-weight: 500;
	color: black;
	box-shadow: 0em 0.75em 1em 0.1em var(--header-boxshadow-light-color);
	display: flex;
	justify-content: space-between;
}

/* styling for alert boxes */

#scl-alert-primary {
	background-color: var(--primary-color);
}

#scl-alert-success {
	background-color: var(--success-color);
}

#scl-alert-warning {
	background-color: var(--warning-color);
}

#scl-alert-error {
	background-color: var(--error-color);
}

/* styling for alert icons */

/* #icon-warning {
	margin-left: 17rem;
}

#icon-error {
	margin-left: 19rem;
}

#icon-success {
	margin-left: 17.5rem;
} */

/* #icon-primary {
	margin-left: 17.5rem;
} */

#scl-alert-close {
	background-color: var(--primary-color);
}

#close {
	background: transparent;
	border: none;
	margin-left: 8rem;
	cursor: pointer;
}

@media all and (max-width: 645px) {
	.scl-alert {
		width: 80%;
	}
}

@media all and (max-width: 1180px) {
	.scl-alert {
		width: 80%;
	}
}
