@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 62.5%;
	box-sizing: border-box;
	--primary-color: #21b0f2;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--code-highlight: #ffa07a;
	/* background-color: #18181a; */
}

#logo-container {
	display: flex;
}

#logo {
	width: 20rem;
	height: 10rem;
	margin-top: -1rem;
}

header {
	display: flex;
	position: fixed;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0.75em 0.75em 1em var(--header-boxshadow-light-color);
	width: 100%;
	background-color: var(--header-bg-light-color);
	top: 0;
	left: 0;
	z-index: 3;
}

#logo-name {
	font-weight: 600;
	font-size: 2.5rem;
	padding-top: 2rem;
	margin-left: -2rem;
	letter-spacing: 0.1rem;
}

#github-icon {
	margin: 2rem 1rem 0rem 0rem;
}

#dark-mode {
	margin-right: 2rem;
	margin-top: 2rem;
	height: 2.4rem;
}

#main-content {
	margin-left: 10rem;
}

.side-bar {
	position: fixed;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	margin-top: 9rem;
	background-color: #fff;
	z-index: 2;
	overflow-y: scroll;
}

.hide {
	display: block;
}

.side-bar-note {
	display: none;
	font-size: 1.5rem;
	color: rgba(0, 0, 0, 0.5);
}

#side-bar-links {
	font-size: 2.4rem;
	list-style: none;
	margin-top: 1rem;
	margin-right: 4rem;
}

.side-bar-item {
	padding: 1rem;
}

#component {
	margin-right: 20rem;
	margin-top: 12rem;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

.seperator {
	height: 0.0625rem;
	width: 90%;
	background-color: var(--seperator);
	margin-bottom: 3rem;
}

.highlight {
	color: var(--primary-color);
	font-weight: 700;
}

/* highlighting code */
.highlight-code {
	color: var(--code-highlight);
	font-weight: 700;
}

/* iframe */
iframe {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

#header-icon-container {
	display: flex;
}

.hamburger {
	height: 0.5rem;
	width: 3rem;
	margin: 0.6rem;
	background: var(--primary-color);
	cursor: pointer;
}

.hamburger-container {
	margin-right: 1rem;
	padding-top: 1.3rem;
	height: 3.5rem;
	cursor: pointer;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.get-started-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.get-started-heading {
	font-size: 2rem;
	font-weight: 600;
}

.css-heading {
	font-size: 2rem;
	margin-top: 2rem;
	font-weight: 600;
}

@media all and (max-width: 645px) {
	#main-content {
		margin-left: 0rem;
	}

	#component {
		margin-right: 0rem;
		margin-top: 12rem;
	}

	#side-bar-links {
		padding-left: 2rem;
	}

	#logo-name {
		font-size: 1.5rem;
		margin-top: 1rem;
		margin-left: -5rem;
	}

	#logo {
		margin-left: -4rem;
	}

	#dark-mode {
		margin-top: 2.5rem;
		padding-right: 1rem;
		margin-right: 1rem;
	}

	#github-icon {
		margin: 2.5rem 1rem 0rem 0rem;
	}

	.hamburger-container {
		padding-top: 1.8rem;
	}

	.side-bar {
		overflow-y: scroll;
	}

	.side-bar-note {
		display: block;
	}

	.alert {
		width: 80%;
	}
}

@media all and (max-width: 1180px) {
	.alert {
		width: 80%;
	}
}

/* media query */

@media all and (max-width: 340px) {
	#main-content {
		margin-left: 0rem;
	}

	#component {
		margin-right: 0rem;
		margin-top: 12rem;
	}

	#side-bar-links {
		padding-left: 2rem;
	}

	#logo-name {
		font-size: 1.5rem;
		margin-top: 1rem;
		margin-left: -5rem;
	}

	#logo {
		margin-left: -8rem;
	}

	#dark-mode {
		margin-top: 2.5rem;
		margin-right: -1rem;
	}

	#github-icon {
		margin: 2.5rem 1rem 0rem 2rem;
	}

	.hamburger-container {
		padding-top: 1.8rem;
	}

	.side-bar {
		overflow-y: scroll;
	}

	.side-bar-note {
		display: block;
	}
}
